<div class="col-md-12>"
<p>Title:<%= @post.title %></b></p>

<p>Category:<%= find_category_title(@post.category_id) %></p>
<p>Date of post:<%= @post.created_at %></p>

<p><%= simple_format(@post.body) %></p>

<%= link_to 'edit', edit_post_path %>
<%= link_to 'delete', post_path, method: :delete %>

</div>
